<div id="" style="margin-top:50px;"></div>
<nav class="" role="navigation">
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <span>Layout types</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            </div>
            <span>Edit mode</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </li>
    </ul>
    TOTAL POINTS = {{points}}
</nav>

<div class="container">
<div class="row">


    <div class="col-sm-6">
        <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row">
                             <div class="col-sm-10">
                             <h4>Attributes</h4>
                             </div>
                                <div class="col-sm-2 vcenter vcenter-col">
                                   <span class="badge points-color pull-right">{{attributesPoints}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each Attributes}}
                                <li class="list-group-item">
                                    <div class="row">
                                    <div class="col-sm-4">
                                {{this.attributeName}}
                                </div>
                                    <div class="col-sm-6 btn-group">

                                    {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-sm pull-right" disabled >
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-sm pull-right" >
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-sm pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-sm pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                 {{/ifCond}}
                                        </div>
                                <div class="col-sm-2">
                                    <span class="badge pull-right">{{this.attributeValue}}</span>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>

                        </div>
        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Encumberance</h4></span>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Athletics   <span class="badge pull-right">5</span></li>
                                    <li class="list-group-item">STA+PER-10  <span class="badge pull-right">3</span></li>
                                    <li class="list-group-item">Armor       <span class="badge pull-right">8</span></li>
                                    <li class="list-group-item">Shield      <span class="badge pull-right">6</span></li>
                                    <li class="list-group-item">Main hand   <span class="badge pull-right">7</span></li>
                                    <li class="list-group-item">Offhand     <span class="badge pull-right">8</span></li>
                                    <li class="list-group-item">Burden      <span class="badge pull-right">5</span></li>
                                    <li class="list-group-item">Total       <span class="badge total-color pull-right">10</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
    <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4>Combat skills</h4>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-inline" id="newCombatSkill">
                                <div class="form-group input-group-sm">
                                    <input type="hidden" value="{{this.combatSkillName}}" class="form-control" id="hiddenNewCombatSkillName{{@index}}">
                                </div>
                                <div class="form-group input-group-sm">
                                    <input id="newCombatSkillName" class="form-control" type="text">
                                    <input id="newCombatSkillValue" min="1" class="form-control" type="number">
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" id="newCombatSkillButton"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button class="btn btn-primary btn-sm" id="cancelNewCombatSkillButton"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>

                            <div class="btn-group pull-righ" style="align:right"id="addNewCombatSkillButton">
                                <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <span class="badge points-color pull-right">{{combatSkillPoints}}</span>
                        </div>
                    </div>

                </div>
                <div class="panel-body">

                    <ul class="list-group split-list">
                        {{#each combatSkills}}
                            <li class="list-group-item" id="combatSkillNumber{{@index}}">
                                <span class="badge">{{this.combatSkillValue}}</span>
                                {{this.combatSkillname}}
                            </li>
                            <li class="list-group-item" id="editCombatSkill{{@index}}">
                                <div class="form-inline">
                                    <div class="form-group input-group-sm">
                                        <input type="hidden" value="{{this.combatSkillname}}" class="form-control" id="hiddenCombatSkillName{{@index}}">
                                        <input type="text" id="editCombatSkillName{{@index}}" class="form-control" value="{{this.combatSkillname}}">
                                        <input type="number" id="editCombatSkillValue{{@index}}" class="form-control" min="1" value="{{this.combatSkillValue}}">
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm" id="saveCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-ok"></button>
                                        <button class="btn btn-primary btn-sm" id="cancelCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-remove"></button>
                                        <button class="btn btn-primary btn-sm" id="deleteCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-minus"></button>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>
                 <!-- Damage div -->
    <div class="col-sm-6">
        <div class="panel panel-default">
  <div class="panel-heading"><h4>Damage</h4></div>
  <div class="panel-body">
                    <table class="table">

                                            <tr>
                                              <th></th>
                                              <th>Armor</th>
                                              <th>Trauma</th>
                                              <th>Bleed</th>
                                              <th>Critical</th>
                                              <th>Total</th>
                                            </tr>
                                              <tr>
                                                 <th>Head</th>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">1&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge"></td>
                                                 <td><span class="badge"></td>
                                                 <td><span class="badge">1</span></td>
                                              </tr>
                                              <tr>
                                                 <th>Body</th>
                                                 <td><span class="badge">3</span></td>
                                                 <td></td>
                                                 <td><span class="badge">2&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">1&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">3</span></td>
                                              </tr>
                                              <tr>
                                                 <th>L.Arm</th>
                                                 <td><span class="badge">3</span></td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                                 <td><span class="badge">0</span></td>
                                              </tr>
                                                <tr>
                                                 <th>R.Arm</th>
                                                 <td><span class="badge">3</span></td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                                 <td><span class="badge">0</span></td>
                                              </tr>
                                                <tr>
                                                 <th>L.Leg</th>
                                                 <td><span class="badge">3</span></td>
                                                 <td></td>
                                                 <td><span class="badge">3&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td></td>
                                                 <td><span class="badge">3</span></td>
                                              </tr>
                                              <th><b>Total</b></th>
                                                 <td></td>
                                                 <td><span class="badge total-color">1&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge total-color">5&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge total-color">1&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge total-color">7</span></td>
                                              </tr>
                        </table>


            </div>
        </div>
    </div>
      <!-- Damage div end-->
                   <!-- Vigor div -->


      <div class="col-sm-6">
          <div class="panel panel-default">
  <div class="panel-heading"><h4>Vigor</h4></div>
  <div class="panel-body">
   <table class="table">
                                                <tr>
                                                <th></th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>5</th>
                                                <th>6</th>
                                                <th>7</th>
                                                <th>8</th>
                                                <th>9</th>
                                                </tr>
                                                <tr>
                                                    <th>0</th>
                                                         <td><span class="glyphicon glyphicon-fire vigor-permanent"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-permanent"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-permanent"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-permanent"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                         <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                </tr>
                                                <tr >
                                                    <th>-1</th>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-used"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td><span class="glyphicon glyphicon-fire vigor-select"></td>
                                                                 <td></td>
                                          </tr>
                                           <tr>
                                             <th>-2</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                          </tr>
                                            <tr>
                                             <th>-3</th>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>

                                          </tr>
                                           <tr>
                                             <th>-4</th>
                                                 <td ></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                          </tr>
                                          <tr>
                                             <th>-5</th>

                                               <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>
                                                         <td></td>

                                          </tr>
                                            </table>
                                          </div>
                                        </div>
    <!-- Vigor div end -->
    </div>

<!-- SHOWCASE DATA ONLY FROM HERE ON OUT!!!!   -->

  <!-- Combat gear table start -->

<!-- Weapon table start -->
        <div class="col-sm-12">
            <div class="panel panel-default">
                    <div class="panel-heading"><h4>Combat Gear</h4></div>
            <div class="panel-body">

                                <ul class="list-group col-sm-6">
                                    <li class="list-group-item text-center" ><h4>Main hand</h4> </li>
                                        <li class="list-group-item">
                                            <table class="table">
                                                    <tr>
                                                      <th>Broadsword</th>
                                                      <th>AV <span class="badge">18</span></th>
                                                      <th>DV <span class="badge">17</span></th>
                                                    </tr>
                                                <tr>
                                                        <th>Action</th>
                                                         <td>Thrust</td>
                                                         <td>Swing</td>
                                                </tr>
                                                <tr></tr>
                                                <tr>
                                                         <th>Damage</th>
                                                         <td><span class="badge">3</span></td>
                                                         <td><span class="badge">3</span></td>
                                                </tr>
                                                <tr>
                                                         <th>Effect</th>
                                                         <td><img src="./app/img/assets/dice_four.png"/><img src="./app/img/assets/dice_five.png"/><img src="./app/img/assets/Bleed.png"/><img src="./app/img/assets/dice_six.png"/><img src="./app/img/assets/Trauma.png"/></td>
                                                         <td><img src="./app/img/assets/dice_four.png"/><img src="./app/img/assets/dice_five.png"/><img src="./app/img/assets/Bleed.png"/><img src="./app/img/assets/dice_six.png"/><img src="./app/img/assets/Trauma.png"/></td>
                                                </tr>
                                                <tr>
                                                <td><button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-briefcase">
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-info-sign">
                                                    </button></td>
                                                <td></td>
                                                <td></td>


                                                </tr>
                                            </table>
                                        </li>
                                 </ul>



                                <ul class="list-group col-sm-6">
                                    <li class="list-group-item text-center"><h4>Off-Hand</h4>
                                            <div class="btn-group">
                                                <button class="btn btn-primary btn-sm" id="offHandWeaponSelectionButton"><span class="glyphicon glyphicon-wrench"></button>
                                                <button class="btn btn-primary btn-sm" id="ShieldSelectionButton"><span class="glyphicon glyphicon-record"></button>
                                            </div>
                                    </li>
                                     <li class="list-group-item">
                                            <table class="table">
                                                    <tr>
                                                      <th>Broadsword</th>
                                                      <th>AV <span class="badge">18</span></th>
                                                      <th>DV <span class="badge">17</span></th>
                                                    </tr>
                                                <tr>
                                                        <th>Action</th>
                                                         <td>Thrust</td>
                                                         <td>Swing</td>
                                                </tr>
                                                <tr></tr>
                                                <tr>
                                                         <th>Damage</th>
                                                         <td><span class="badge">3</span></td>
                                                         <td><span class="badge">3</span></td>
                                                </tr>
                                                <tr>
                                                         <th>Effect</th>
                                                         <td><img src="./app/img/assets/dice_four.png"/><img src="./app/img/assets/dice_five.png"/><img src="./app/img/assets/Bleed.png"/><img src="./app/img/assets/dice_six.png"/><img src="./app/img/assets/Trauma.png"/></td>
                                                         <td><img src="./app/img/assets/dice_four.png"/><img src="./app/img/assets/dice_five.png"/><img src="./app/img/assets/Bleed.png"/><img src="./app/img/assets/dice_six.png"/><img src="./app/img/assets/Trauma.png"/></td>
                                                </tr>
                                                <tr>
                                                <td><button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-briefcase">
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-info-sign">
                                                    </button></td>
                                                <td></td>
                                                <td><span class="glyphicon glyphicon-warning-sign vigor-permanent"/><b>Min STR:</b><span class="badge">11</span></td>


                                                </tr>
                                            </table>
                                        </li>
                                     <li class="list-group-item text-center" id="shieldStatistics">
                                              <table class="table">
                                                    <tr>
                                                      <th>Shield</th>
                                                      <th>Dmg.</th>
                                                      <th>Bonus def.</th>
                                                      <th>HP</th>
                                                      <th>Break value</th>
                                                      <th>AV</th>
                                                      <th>DV</th>
                                                      <th>Notes</th>
                                                    </tr>
                                                     <td>Broadsword</td>
                                                     <td>3</td>
                                                     <td>2b1t</td>
                                                     <td>3</td>
                                                     <td>2b3c</td>
                                                     <td>11</td>
                                                     <td>15</td>
                                                     <td>Best shit ever</td>
                                            </table>
                                    </li>
                                </ul>

                    </div>
                </div>
</div>
            </div>
<script src="./app/js/models/cg_scripts/cg_script.js"/>
