<div id="" style="margin-top:50px;"></div>
<nav class="" role="navigation">
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <span>Layout types</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            </div>
            <span>Edit mode</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </li>
    </ul>
</nav>


<div class="container-fluid">
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default" >
                      <div class="panel-heading edit-cg-mode-menu">
                        <div class="row">
                             <div class="col-sm-8 edit-mode-menu">
                                <h4>Attributes</h4>
                             </div>
                             <div class="col-sm-4 edit-mode-menu">
                                <span class="badge badge-success pull-right">{{attributesPoints}}</span>
                             </div>
                        </div>
                      </div>
                      <div class="panel-body">
                            <ul class="list-group">
                                {{#each Attributes}}
                                    <li class="list-group-item" style="vertical-align: middle;">
                                    <div class="row">
                                    <div class="col-sm-3 edit-mode-menu">
                                    {{this.attributeName}}
                                    </div>
                                        <div class="col-sm-5 edit-mode-menu">
                                            <div class="btn-group pull-right  ">
                                                {{#ifCond this.attributeValue '<=' ../minAttribute}}

                                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-sm" disabled>
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                {{else}}
                                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-sm">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                 {{/ifCond}}

                                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-sm" disabled >
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                {{else}}
                                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-sm" >
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                {{/ifCond}}
                                            </div>
                                            </div>
                                            <div class="col-sm-2  edit-mode-menu">
                                            <span class="badge badge-success pull-right">{{this.attriPointValue}}</span>
                                            </div>
                                            <div class="col-sm-2  edit-mode-menu">
                                            <span class="badge pull-right">{{this.attributeValue}}</span>
                                            </div>
                                    </li>

                                {{/each}}
                                </div>
                           </ul>
                        </div>

        </div>


                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Encumberance</h4></span>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Athletics   <span class="badge pull-right">5</span></li>
                                    <li class="list-group-item">STA+PER-10  <span class="badge pull-right">3</span></li>
                                    <li class="list-group-item">Armor       <span class="badge pull-right">8</span></li>
                                    <li class="list-group-item">Shield      <span class="badge pull-right">6</span></li>
                                    <li class="list-group-item">Main hand   <span class="badge pull-right">7</span></li>
                                    <li class="list-group-item">Offhand     <span class="badge pull-right">8</span></li>
                                    <li class="list-group-item">
                                        <div class="col-sm-8 edit-mode-menu" style="padding-right:0px; padding-left:0px;">
                                           Burden
                                        </div>
                                        <div class="col-sm-3 edit-mode-menu" style="padding-right:0px; padding-left:0px;">
                                           <div class="btn-group edit-mode-menu">
                                                <button class="btn btn-primary btn-sm" id="decreaseBurden"><span class="glyphicon glyphicon-minus"></button>
                                                <button class="btn btn-primary btn-sm" id="increaseBurden"><span class="glyphicon glyphicon-plus"></span></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-1 edit-mode-menu" style="padding-right:0px; padding-left:0px;">
                                           <span class="badge badge pull-right">{{burden}}</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">Total       <span class="badge total-color pull-right">10</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    </div>
        <!-- Damage div -->
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
  <div class="panel-heading">
                 <div class="row">
                        <div class="col-sm-4 edit-mode-menu" style="padding-right:0px;">
                                 <h4>Damage</h4>
                        </div>
                        <div class="col-sm-8 edit-mode-menu">
                              <div class="input-group input-group-sm col-sm-12">
                                 <input class="form-control" type="number">
                                      <div class="input-group-btn">
                                        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-primary btn-sm btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                      </div>
                              </div>
                       </div>
                  </div>
     </div>
  <div class="panel-body"  style="padding-right:0px;padding-left:0px;">
                    <table class="table table-striped" style="width:100%">
                                            <tr>
                                              <th></th>
                                              <th>Armor</th>
                                              <th>Trauma</th>
                                              <th>Bleed</th>
                                              <th>Critical</th>
                                              <th>Total</th>
                                            </tr>
                                              <tr>
                                                 <td>Head</td>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">1&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">1</span></td>
                                              </tr>
                                              <tr>
                                                 <td>Body</td>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge">2&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">1&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">3</span></td>
                                              </tr>
                                              <tr>
                                                 <td>L.Arm</td>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">0</span></td>
                                              </tr>
                                                <tr>
                                                 <td>R.Arm</td>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">0</span></td>
                                              </tr>
                                                <tr>
                                                 <td>L.Leg</td>
                                                 <td><span class="badge">3</span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge">3&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge">0&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge">3</span></td>
                                              </tr>
                                              <td><b>Total</b></td>
                                                 <td></td>
                                                 <td><span class="badge badge-error">1&nbsp;<img src="./app/img/assets/Trauma.png"/></span></td>
                                                 <td><span class="badge badge-error">5&nbsp;<img src="./app/img/assets/Bleed.png"/></span></td>
                                                 <td><span class="badge badge-error">1&nbsp;<img src="./app/img/assets/Critical.png"/></span></td>
                                                 <td><span class="badge badge-error">7</span></td>
                                              </tr>
                        </table>
            </div>
        </div>
    </div>
      <!-- Damage div end-->
                   <!-- Vigor div -->





      <div class="col-sm-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                        <div class="col-sm-2 edit-mode-menu" style="padding-right:0px;">
                                <h4>Vigor</h4>
                        </div>
                        <div class="col-sm-8 edit-mode-menu">
                              <div class="input-group input-group-sm col-sm-12">
                                 <input class="form-control" type="number">
                                      <div class="input-group-btn">
                                        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok"></span></button>
                                        <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                        <button class="btn btn-primary btn-sm btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></button>
                                      </div>
                              </div>
                       </div>
                      <div class="col-sm-2 edit-mode-menu" style="padding-left:2px;">
                          <button class="btn btn-primary btn-sm"><img src="./app/img/assets/zzz.png" height="12px" width="18px"/></span></button>
                      </div>
                  </div>
              </div>
  <div class="panel-body">
                            <div class="col-sm-12">
                                <div class="list-group row">
                                    <a class="list-group-item col-sm-6 edit-mode-menu">
                                        Vigor Pool
                                        <span class="badge">20</span>
                                    </a>
                                    <a class="list-group-item col-sm-6 edit-mode-menu">
                                        Vigor Penalty
                                        <span class="badge  badge-error">-1</span>
                                    </a>
                                    <a class="list-group-item col-sm-6">
                                        Vigor Used
                                        <span class="badge badge-inverse pull-right">15</span>
                                    </a>
                                    <a class="list-group-item col-sm-6">
                                        Fatigue
                                        <span class="badge badge-error pull-right">5</span>
                                    </a>
                                    <div class="list-group-item col-sm-12 custom-vigor-table">
                                    </div>
                                </div>
                            </div>


                                          </div>
                                        </div>
    <!-- Vigor div end -->
    </div>
</div>
<!-- SHOWCASE DATA ONLY FROM HERE ON OUT!!!!   -->

  <!-- Combat gear table start -->

<div class="row">
    <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-5 edit-mode-menu">
                                    <h4>Combat Skills</h4>
                                </div>
                                <div class="col-sm-6 edit-mode-menu" id="editCombatSkill">
                                    <div class="pull-right">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control" type="text">
                                                <div class="input-group-btn" >
                                                    <button class="btn btn-primary btn-sm" id="saveNewCombatSkill"><span class="glyphicon glyphicon-ok"></span></button>
                                                    <button class="btn btn-primary btn-sm" id="removeCombatSkill"><span class="glyphicon glyphicon-remove"></span></button>
                                                    <button class="btn btn-primary btn-sm btn-danger" id="cancelCombatSkilledit"><span class="glyphicon glyphicon-ban-circle"></span></button>

                                                </div>
                                        </div>

                                    </div>
                                </div>
                                 <div class="col-sm-6 edit-mode-menu" id="addNewCombatSkill">
                                     <div class="pull-right">
                                  <button class="btn btn-primary btn-sm" id="addNewCombatSkillButton"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </div>
                               <div class="col-sm-1 edit-mode-menu">
                                <span class="badge badge-success">0</span>
                              </div>
                            </div>
                        </div>
                <div class="panel-body">
                    <div class="list-group split-list list-inline ;" style="display: inline">
                            {{#each combatSkills}}
                            <div class="col-sm-6" style="padding-right:5px;padding-left:5px; padding-bottom:5px; ">
                                <a class="list-group-item" id="combatSkillNumber{{@index}}">
                                    <div class="row">
                                        <div class="col-sm-4 edit-mode-menu" style="padding-right:0px;">
                                        {{this.combatSkillname}}
                                        </div>
                                        <div  class="col-sm-4 edit-mode-menu" style="padding-left:0px;">
                                            <div class="btn-group pull-right">
                                                 <button class="btn btn-primary btn-sm" id="combatSkillMinusButton{{@index}}"><span class="glyphicon glyphicon-minus"></button>
                                                 <button class="btn btn-primary btn-sm" id="combatSkillPlusButton{{@index}}"><span class="glyphicon glyphicon-plus"></span></button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 edit-mode-menu">
                                            <span class="badge pull-right">{{this.combatSkillValue}}</span>
                                        </div>
                                        <div  class="col-sm-2  edit-mode-menu">
                                            <span class="badge badge-success pull-right">{{this.combatSkillPointsValue}}</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                      </div>
                </div>
            </div>
    </div>



<!-- Weapon table start -->
        <div class="col-sm-12">
            <div class="panel panel-default">
                    <div class="panel-heading"><h4>Combat Gear</h4></div>
            <div class="panel-body">
                 <div class="row">
                <div class="col-sm-6">
                            <div class="panel panel-default">
                                     <div class="panel-heading text-center"><h4>Main hand</h4></div>
                                        <div class="panel-body">
                                            <table class="table">
                                                    <tr>
                                                      <th>Broadsword</th>
                                                      <th>AV <span class="badge">18</span></th>
                                                      <th>DV <span class="badge">17</span></th>
                                                    </tr>
                                                <tr>
                                                        <th>Action</th>
                                                         <td>Thrust</td>
                                                         <td>Swing</td>
                                                </tr>
                                                <tr></tr>
                                                <tr>
                                                         <th>Damage</th>
                                                         <td><span class="badge">3</span></td>
                                                         <td><span class="badge">3</span></td>
                                                </tr>
                                                <tr>
                                                         <th>Effect</th>
                                                         <td><span class="badge">2<img src="./app/img/assets/Bleed.png"/></span><span class="badge">1<img src="./app/img/assets/Trauma.png"/></span></td>
                                                         <td><span class="badge">2<img src="./app/img/assets/Bleed.png"/></span><span class="badge">1<img src="./app/img/assets/Trauma.png"/></span></td>
                                                </tr>
                                                <tr>
                                                    <td><b>Weight </b><span class="badge badge-error">2</span></td>
                                                    <td><b>Range </b><span class="badge">2</span></td>
                                                    <td><b>Initative </b><span class="badge">14</span></td>
                                                </tr>
                                                <tr>
                                                <td><button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-briefcase">
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-info-sign">
                                                    </button></td>
                                                <td></td>
                                                <td></td>


                                                </tr>
                                            </table>

                                        </div>
                            </div>
                    </div>
                                 <div class="col-sm-6">
                            <div class="panel panel-default">
                                     <div class="panel-heading text-center">
                                         <div class="row">

                                         <h4>Off-Hand</h4>


                                     </div>
                                                 </div>
                                        <div class="panel-body">
                                                     <table class="table">
                                                    <tr>
                                                      <th>Broadsword</th>
                                                      <th>AV <span class="badge">18</span></th>
                                                      <th>DV <span class="badge">17</span></th>
                                                    </tr>
                                                <tr>
                                                   <td><b>Action</b></td>
                                                   <td>Thrust</td>
                                                   <td>Swing</td>
                                                </tr>
                                                <tr></tr>
                                                <tr>
                                                         <th>Damage</th>
                                                         <td><span class="badge">3</span></td>
                                                         <td><span class="badge">3</span></td>
                                                </tr>
                                                <tr>
                                                         <th>Effect</th>
                                                         <td><span class="badge">2<img src="./app/img/assets/Bleed.png"/></span><span class="badge">1<img src="./app/img/assets/Trauma.png"/></span></td>
                                                         <td><span class="badge">2<img src="./app/img/assets/Bleed.png"/></span><span class="badge">1<img src="./app/img/assets/Trauma.png"/></span></td>
                                                </tr>
                                                <tr>
                                                <td><b>Weight </b><span class="badge badge-error">2</span></td>
                                                <td><b>Range </b><span class="badge">2</span></td>
                                                <td><b>Initative </b><span class="badge">14</span></td>
                                                </tr>


                                                <tr>
                                                <td><button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-briefcase">
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                            <span class="glyphicon glyphicon-info-sign">
                                                    </button></td>
                                                <td colspan="2" class="text-right"><span class="glyphicon glyphicon-warning-sign vigor-permanent"/><b>Min STR:</b><span class="badge">11</span></td>
                                                </tr>
                                            </table>

                                              <table class="table" id="shieldStatistics">
                                                    <tr>
                                                      <th>Shield</th>
                                                      <th>Dmg.</th>
                                                      <th>Bonus def.</th>
                                                      <th>HP</th>
                                                      <th>Break value</th>
                                                      <th>AV</th>
                                                      <th>DV</th>
                                                      <th>Notes</th>
                                                    </tr>
                                                     <td>Broadsword</td>
                                                     <td>3</td>
                                                     <td>2b1t</td>
                                                     <td>3</td>
                                                     <td>2b3c</td>
                                                     <td>11</td>
                                                     <td>15</td>
                                                     <td>Best shit ever</td>
                                            </table>
                                </div>
                        </div>
                    </div>
                </div>
       </div>
 </div>
                </div>
<script src="./app/js/models/cg_scripts/cg_script.js"/>
