<div id="" style="margin-top:50px;"></div>
<nav class="" role="navigation">
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <span>Layout types</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            </div>
            <span>Edit mode</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </li>
    </ul>
</nav>


<div class="row">

    TOTAL POINTS = {{points}}
        <div class="panel panel-default col-sm-6" >
                    <div class="panel-heading">Attributes  <span class="label label-success pull-right">{{attributesPoints}}</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">

                    {{#each Attributes}}
                            <li class="list-group-item">
                                {{this.attributeName}}  <span class="badge pull-right">{{this.attributeValue}}</span>
                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{/ifCond}}

                            </li>
                    {{/each}}
                 </ul>

                        </div>
       <div class="row">
    <div class="panel panel-default col-sm-12">
    <div class="panel-heading">Encumberance</span>
                    </div>
                        <div class="panel-body">Encumberance content
                            </div>
    </div>
</div>
    </div>


     <div class="panel panel-default col-sm-6">
                    <div class="panel-heading">Combat Skills  <span class="label pull-right">{{combatSkillPoints}}</span>
                    </div>
                       <div class="panel-body">
                                <ul>
        {{#each combatSkills}}
            <li id="skillNumber{{@index}}">{{this.combatSkillname}}: {{this.combatSkillname}}</li>
               <div class="form-inline skillEditForm" id="editSkill{{@index}}">
                    <div class="form-group">
                        <input type="hidden" value="{{this.combatSkillname}}" class="form-control" id="hiddenSkillName{{@index}}">
                    </div>
                    <div class="form-group">
                        <input type="text" id="editSkillName{{@index}}" class="form-control" value="{{this.combatSkillname}}">
                    </div>
                    <div class="form-group">
                        <input type="number" id="editSkillValue{{@index}}" class="form-control" value="{{this.combatSkillValue}}">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="saveSkillButton{{@index}}">Save</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="cancelSkillButton{{@index}}">Cancel</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="deleteSkillButton{{@index}}">Delete</button>
                    </div>
                </div>

            {{#if this.skillSpecialization}}
                <ul>
                    {{#each skillSpecialization}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/each}}
    </ul>
    <div class="form-inline" id="newSkill">
        <div class="form-group">
            <input type="hidden" value="{{this.combatSkillname}}" class="form-control" id="hiddenNewSkillName{{@index}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="newSkillName">New Skill</label>
            <input id="newSkillName" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label class="control-label" for="newSkillName">Skill Level</label>
            <input id="newSkillValue" class="form-control" type="number">
        </div>
        <div class="form-group">
            <button id="newSkillButton" class="btn btn-primary">Add</button>
        </div>
    </div>
</div>

                           </div>


         </div>

</div>


<script src="./app/js/models/cg_scripts/cg_script.js"/>
