<div id="" style="margin-top:50px;"></div>
<nav class="" role="navigation">
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <span>Layout types</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            </div>
            <span>Edit mode</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </li>
    </ul>
</nav>


<div class="row">

    TOTAL POINTS = {{points}}
    <div class="col-sm-6">
        <div class="panel panel-default" >
                    <div class="panel-heading">Attributes  <span class="label label-success pull-right">{{attributesPoints}}</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">

                                {{#each Attributes}}
                                <li class="list-group-item">
                                {{this.attributeName}}  <span class="badge pull-right">{{this.attributeValue}}</span>
                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-xs pull-right" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-xs pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-xs pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-xs pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                 {{/ifCond}}

                                </li>
                                {{/each}}
                            </ul>

                        </div>
        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default col-sm-12">
                            <div class="panel-heading">Encumberance</span>
                            </div>
                            <div class="panel-body">Encumberance content
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <span>Combat skills</span>
                        </div>
                        <div class="col-sm-8">
                            <div class="btn-group" id="addNewCombatSkillButton">
                                <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>

                        <div class="form-inline" id="newCombatSkill">
                            <div class="form-group input-group-sm">
                                <input type="hidden" value="{{this.combatSkillName}}" class="form-control" id="hiddenNewCombatSkillName{{@index}}">
                            </div>
                            <div class="form-group input-group-sm">
                                <input id="newCombatSkillName" class="form-control" type="text">
                                <input id="newCombatSkillValue" min="1" class="form-control" type="number">
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" id="newCombatSkillButton"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-primary btn-sm" id="cancelNewCombatSkillButton"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-8">
                            <span class="label label-success pull-right">{{attributesPoints}}</span>
                            </div>
                    </div>

                </div>
                <div class="panel-body">

                    <ul class="list-group split-list">
                        {{#each combatSkills}}
                            <li class="list-group-item" id="combatSkillNumber{{@index}}">
                                <span class="badge">{{this.combatSkillValue}}</span>
                                {{this.combatSkillname}}
                            </li>
                            <li class="list-group-item" id="editCombatSkill{{@index}}">
                                <div class="form-inline">
                                    <div class="form-group input-group-sm">
                                        <input type="hidden" value="{{this.combatSkillname}}" class="form-control" id="hiddenCombatSkillName{{@index}}">
                                        <input type="text" id="editCombatSkillName{{@index}}" class="form-control" value="{{this.combatSkillname}}">
                                        <input type="number" id="editCombatSkillValue{{@index}}" class="form-control" min="1" value="{{this.combatSkillValue}}">
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm" id="saveCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-ok"></button>
                                        <button class="btn btn-primary btn-sm" id="cancelCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-remove"></button>
                                        <button class="btn btn-primary btn-sm" id="deleteCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-minus"></button>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>
    </div>



<script src="./app/js/models/cg_scripts/cg_script.js"/>
