<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-10">
               <a href="#" id="test"> {{title}} </a>
                    </div>
                 <div class="col-sm-2">
                    <button class="btn btn-primary" id="hideCreationButton" type="button">Create mode</button>
                     </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
<div class="col-sm-4">
    <!-- Pradzia Attributes lenteles-->
        <div class="col-sm-12">
<fieldset>

    <legend>Attributes  <span class="label label-success">{{points}}</span></legend>

          {{#each Attributes}}

       <div class="panel-group hidingParts" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{@index}}">
            {{this.attributeName}} : {{this.attributeValue}}
            <!-- Buttons for template framework-->
            <button type="button" class="btn btn-default btn-xs creationButton">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
             <button type="button" class="btn btn-default btn-xs creationButton">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <!-- end of buttons for template framework-->

        </a>
      </h4>
    </div>
    <div id="collapseOne{{@index}}" class="panel-collapse collapse">
      <div class="panel-body">

          {{#ifCond this.attributeValue '<=' ../minAttribute}}
          <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-minus"></span>
          </button>
              {{else}}
              <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          {{/ifCond}}

       {{this.attributeValue}}

           {{#ifCond this.attributeValue '>=' ../maxAttribute}}
          <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{else}}
          <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{/ifCond}}
      </div>
    </div>
  </div>

           {{/each}}
</fieldset>
        </div>

             <!-- Pabaiga Attributes lenteles -->

            <!-- Pradzia Encumberance lenteles -->

         <div class="col-sm-12">

<fieldset>

    <legend>Encumberance</legend>

    <table class="table table-condensed table-bordered hidingParts">
  <tr>
  <th>Athletics</th>
  <td>5</td>
</tr>
<tr>
  <th>STA+PER-10</th>
  <td>10</td>
</tr>
<tr>
  <th>Armor</th>
  <td>3</td>
</tr>
<tr>
  <th>Shield</th>
  <td>2</td>
</tr>
<tr>
  <th>Main hand</th>
  <td>1</td>
</tr>
<tr>
  <th>Offhand</th>
  <td>52</td>
</tr>
<tr>
  <th>Burden</th>
  <td>3</td>
</tr>
<tr>
  <th>Total</th>
  <td>9000</td>
</tr>
</table>



</fieldset>
        </div>


            <!-- Pabaiga Encumberance lenteles -->

    </div>
<div class="col-sm-8">
      <div class="col-sm-12 ">
<fieldset>

    <legend>Combat Skills  <span class="label label-success">{{points}}</span></legend>
          {{#each Attributes}}

       <div class="panel-group hidingParts" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{@index}}">
            {{this.attributeName}} : {{this.attributeValue}}
        </a>
      </h4>
    </div>
    <div id="collapseOne{{@index}}" class="panel-collapse collapse">
      <div class="panel-body">

          {{#ifCond this.attributeValue '<=' ../minAttribute}}
          <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-minus"></span>
          </button>
              {{else}}
              <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          {{/ifCond}}

       {{this.attributeValue}}

           {{#ifCond this.attributeValue '>=' ../maxAttribute}}
          <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-sm" disabled>
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{else}}
          <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-plus"></span>
          </button>
          {{/ifCond}}
      </div>
    </div>
  </div>

           {{/each}}


</fieldset>
        </div>


    </div>
</div>
  <!-- Combat gear table start -->
 <fieldset>

    <legend>Combat Gear</legend>
<!-- Weapon table start -->
<div class="row hidingParts">
<div class="col-sm-12 ">
    <table class="table table-condensed table-bordered">

<tr>
  <th>Weapon</th>
  <th>Swing dmg</th>
  <th>Swing fx</th>
  <th>Thrust</th>
  <th>Thrust fx</th>
  <th>Minimum STR</th>
  <th>AV</th>
  <th>DV</th>
  <th>Weight</th>
  <th>Reach</th>
  <th>Notes</th>
</tr>
     <td>Broadsword</td>
     <td>3</td>
     <td>2b1t</td>
     <td>3</td>
     <td>2b3c</td>
     <td>11</td>
     <td>15</td>
     <td>18</td>
     <td>2</td>
     <td>8</td>
     <td>Best shit ever</td>
    </table>
</div>
<!--Weapon table end -->
<!-- Shield table start -->
<div class="col-sm-12">
    <table class="table table-condensed table-bordered">

<tr>
  <th>Shield</th>
  <th>Dmg.</th>
  <th>Bonus def.</th>
  <th>HP</th>
  <th>Break value</th>
  <th>AV</th>
  <th>DV</th>
  <th>Notes</th>
</tr>
     <td>Broadsword</td>
     <td>3</td>
     <td>2b1t</td>
     <td>3</td>
     <td>2b3c</td>
     <td>11</td>
     <td>15</td>
     <td>Best shit ever</td>
    </table>
</div>
<!-- Shield table end -->
<!-- Ranged weapon and ammo start -->
<div class="col-sm-12">
    <!-- Ranged weapon  start -->
<div class="col-sm-8">
    <table class="table table-condensed table-bordered">

<tr>
  <th>Ranged Weapon</th>
  <th>Dmg.</th>
  <th>Weapon STR</th>
  <th>Base Dmg.</th>
  <th>Max Range</th>
  <th>Range penalty</th>
  <th>AV</th>
  <th>Notes</th>
</tr>
     <td>Broadsword</td>
     <td>3</td>
     <td>11</td>
     <td>15</td>
     <td>18</td>
     <td>2</td>
     <td>8</td>
     <td>Best</td>
    </table>
</div>
    <!-- Ranged weapon table end -->
    <!-- Ammo start -->

    <div class="col-sm-4">
    <table class="table table-condensed table-bordered">

<tr>
  <th>Ammo</th>
  <th>Dmg</th>
  <th>Weapon min STR</th>
  <th>Eff.</th>
</tr>
     <td>Bolt</td>
     <td>3</td>
     <td>2</td>
     <td>3b1t</td>
    </table>
</div>
    <!-- Ammo table end -->

</div>
<!-- Shield table end -->
</fieldset>

     </div>
    <!-- Combat gear end -->





<!-- Damage and Vigor div -->
<div class="row">
      <!-- Damage div -->
    <div class="col-sm-6">
    <fieldset>
    <legend>Damage</legend>
       <table class="table table-condensed table-bordered hidingParts">

<tr>
  <th></th>
  <th>Armor</th>
  <th>Trauma</th>
  <th>Bleed</th>
  <th>Critical</th>
  <th>Total</th>
</tr>
  <tr>
     <th>Head</th>
     <td>3</td>
     <td>2</td>
     <td>3</td>
     <td>3</td>
     <td>2</td>
  </tr>
  <tr>
     <th>Body</th>
     <td>1</td>
     <td>2</td>
     <td>4</td>
     <td>5</td>
     <td>6</td>
  </tr>
  <tr>
     <th>L.Arm</th>
     <td>1</td>
     <td>2</td>
     <td>4</td>
     <td>5</td>
     <td>6</td>
  </tr>
    <tr>
     <th>R.Arm</th>
     <td>1</td>
     <td>2</td>
     <td>4</td>
     <td>5</td>
     <td>6</td>
  </tr>
    <tr>
     <th>L.Leg</th>
     <td>1</td>
     <td>2</td>
     <td>4</td>
     <td>5</td>
     <td>6</td>
  </tr>
  <tr>
     <th>R.Leg</th>
     <td>1</td>
     <td>2</td>
     <td>4</td>
     <td>5</td>
     <td>6</td>
  </tr>
    </table>
    </fieldset>
    </div>
      <!-- Damage div end-->
      <!-- Vigor div -->
      <div class="col-sm-6">
    <fieldset>
        <legend>Vigor</legend>
    <table class="table table-condensed table-bordered hidingParts">
        <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        </tr>
        <tr>
            <th>0</th>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td>/</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>-1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
  </tr>
   <tr>
     <th>-2</th>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
  </tr>
    <tr>
     <th>-3</th>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
  </tr>
   <tr>
     <th>-4</th>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
  </tr>
  <tr>
     <th>-5</th>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
     <td></td>
  </tr>
    </table>
    </fieldset>
      </div>
</div>
    <!-- Vigor div end -->
    <!-- Damage and Vigor div end -->

<script src="./app/js/models/cg_scripts/cg_script.js"/>
