<div class="row" style="margin-top:40px">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-10">
               <a href="#" id="test"> {{title}} </a>
                    </div>
                 <div class="col-sm-2">
                    <button class="btn btn-primary" id="hideCreationButton" type="button">Create mode</button>
                     </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    TOTAL POINTS = {{points}}
        <div class="panel panel-default col-sm-6" >
                    <div class="panel-heading">Attributes  <span class="label label-success pull-right">{{attributesPoints}}</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">

                    {{#each Attributes}}
                            <li class="list-group-item">
                                {{this.attributeName}}  <span class="badge pull-right">{{this.attributeValue}}</span>
                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{/ifCond}}

                            </li>
                    {{/each}}
                 </ul>

                        </div>
       <div class="row">
    <div class="panel panel-default col-sm-12">
    <div class="panel-heading">Encumberance</span>
                    </div>
                        <div class="panel-body">Encumberance content
                            </div>
    </div>
</div>
    </div>


     <div class="panel panel-default col-sm-6">
                    <div class="panel-heading">Combat Skills  <span class="label pull-right">{{combatSkillPoints}}</span>
                    </div>
                       <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                                <li class="list-group-item"> Combat skill content</li>
                           </ul>

                           </div>


         </div>

</div>


<script src="./app/js/models/cg_scripts/cg_script.js"/>
