<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-10">
               <a href="#" id="test"> {{title}} </a>
                    </div>
                 <div class="col-sm-2">
                    <button class="btn btn-primary" id="hideCreationButton" type="button">Create mode</button>
                     </div>
            </div>
        </div>
    </div>
</div>

<div class="cgGridster">
<ul style="list-style-type:none" class="cgGridster">
 <li data-row="1" data-col="1" data-sizex="1" data-sizey="{{Attributes.length}}">
        <div class="panel panel-default">
                    <div class="panel-heading">Attributes  <span class="label label-success">{{points}}</span>
                    </div>
                        <div class="panel-body">
                        </div>

              <ul class="list-group">

                    {{#each Attributes}}
                            <li class="list-group-item">
                                {{this.attributeName}}  <span class="badge pull-right">{{this.attributeValue}}</span>
                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-default btn-xs pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-default btn-xs pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{/ifCond}}

                            </li>
                    {{/each}}
                 </ul>

        </div>
    </li>



</div>
<script src="./app/js/models/cg_scripts/cg_script.js"/>
