<div id="" style="margin-top:50px;"></div>
<nav class="" role="navigation">
    <ul class="list-group">
        <li class="list-group-item form-inline">
            <span>Layout types</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-star"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span></button>
            </div>
            <span>Edit mode</span>
            <div class="btn-group">
                <button class="btn btn-primary"><span class="glyphicon glyphicon-th-large"></span></button>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
        </li>
    </ul>
    TOTAL POINTS = {{points}}
</nav>


<div class="row">


    <div class="col-sm-6">
        <div class="panel panel-default" >
                    <div class="panel-heading">Attributes  <span class="label label-success pull-right">{{attributesPoints}}</span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">

                                {{#each Attributes}}
                                <li class="list-group-item">
                                {{this.attributeName}}  <span class="badge pull-right">{{this.attributeValue}}</span>
                                {{#ifCond this.attributeValue '>=' ../maxAttribute}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-xs pull-right" disabled>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrPlusButton{{@index}}"type="button" class="btn btn-primary btn-xs pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                {{/ifCond}}

                                {{#ifCond this.attributeValue '<=' ../minAttribute}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-xs pull-right" disabled>
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                {{else}}
                                    <button id="attrMinusButton{{@index}}" type="button" class="btn btn-primary btn-xs pull-right">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                 {{/ifCond}}

                                </li>
                                {{/each}}
                            </ul>

                        </div>
        </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default col-sm-12">
                            <div class="panel-heading">Encumberance</span>
                            </div>
                            <div class="panel-body">


                                <table class="table table-condensed table-bordered hidingParts">
                                                  <tr>
                                                  <th>Athletics</th>
                                                  <td>5</td>
                                                </tr>
                                                <tr>
                                                  <th>STA+PER-10</th>
                                                  <td>10</td>
                                                </tr>
                                                <tr>
                                                  <th>Armor</th>
                                                  <td>3</td>
                                                </tr>
                                                <tr>
                                                  <th>Shield</th>
                                                  <td>2</td>
                                                </tr>
                                                <tr>
                                                  <th>Main hand</th>
                                                  <td>1</td>
                                                </tr>
                                                <tr>
                                                  <th>Offhand</th>
                                                  <td>52</td>
                                                </tr>
                                                <tr>
                                                  <th>Burden</th>
                                                  <td>3</td>
                                                </tr>
                                                <tr>
                                                  <th>Total</th>
                                                  <td>9000</td>
                                                </tr>
                                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-2">
                            <span>Combat skills</span>
                        </div>
                        <div class="col-sm-9">
                            <div class="btn-group" id="addNewCombatSkillButton">
                                <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>

                        <div class="form-inline" id="newCombatSkill">
                            <div class="form-group input-group-sm">
                                <input type="hidden" value="{{this.combatSkillName}}" class="form-control" id="hiddenNewCombatSkillName{{@index}}">
                            </div>
                            <div class="form-group input-group-sm">
                                <input id="newCombatSkillName" class="form-control" type="text">
                                <input id="newCombatSkillValue" min="1" class="form-control" type="number">
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm" id="newCombatSkillButton"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-primary btn-sm" id="cancelNewCombatSkillButton"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-1">
                            <span class="label label-success pull-right">{{combatSkillPoints}}</span>
                            </div>
                    </div>

                </div>
                <div class="panel-body">

                    <ul class="list-group split-list">
                        {{#each combatSkills}}
                            <li class="list-group-item" id="combatSkillNumber{{@index}}">
                                <span class="badge">{{this.combatSkillValue}}</span>
                                {{this.combatSkillname}}
                            </li>
                            <li class="list-group-item" id="editCombatSkill{{@index}}">
                                <div class="form-inline">
                                    <div class="form-group input-group-sm">
                                        <input type="hidden" value="{{this.combatSkillname}}" class="form-control" id="hiddenCombatSkillName{{@index}}">
                                        <input type="text" id="editCombatSkillName{{@index}}" class="form-control" value="{{this.combatSkillname}}">
                                        <input type="number" id="editCombatSkillValue{{@index}}" class="form-control" min="1" value="{{this.combatSkillValue}}">
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm" id="saveCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-ok"></button>
                                        <button class="btn btn-primary btn-sm" id="cancelCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-remove"></button>
                                        <button class="btn btn-primary btn-sm" id="deleteCombatSkillButton{{@index}}"><span class="glyphicon glyphicon-minus"></button>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>


        </div>
    </div>

<!-- SHOWCASE DATA ONLY FROM HERE ON OUT!!!!   -->
 <div class="row">
  <!-- Combat gear table start -->

<!-- Weapon table start -->
        <div class="col-sm-12">
            <div class="panel panel-default">
  <div class="panel-heading">Combat Gear</div>
  <div class="panel-body">
    <div class="row">
                                <div class="col-sm-12">
                                            <table class="table table-condensed table-bordered">

                                        <tr>
                                          <th>Weapon</th>
                                          <th>Swing dmg</th>
                                          <th>Swing fx</th>
                                          <th>Thrust</th>
                                          <th>Thrust fx</th>
                                          <th>Minimum STR</th>
                                          <th>AV</th>
                                          <th>DV</th>
                                          <th>Weight</th>
                                          <th>Reach</th>
                                          <th>Notes</th>
                                        </tr>
                                             <td>Broadsword</td>
                                             <td>3</td>
                                             <td>2b1t</td>
                                             <td>3</td>
                                             <td>2b3c</td>
                                             <td>11</td>
                                             <td>15</td>
                                             <td>18</td>
                                             <td>2</td>
                                             <td>8</td>
                                             <td>Best shit ever</td>
                                            </table>
                                </div>
                                    </div>
<!--Weapon table end -->
<!-- Shield table start -->
                                 <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-condensed table-bordered">

                                            <tr>
                                              <th>Shield</th>
                                              <th>Dmg.</th>
                                              <th>Bonus def.</th>
                                              <th>HP</th>
                                              <th>Break value</th>
                                              <th>AV</th>
                                              <th>DV</th>
                                              <th>Notes</th>
                                            </tr>
                                             <td>Broadsword</td>
                                             <td>3</td>
                                             <td>2b1t</td>
                                             <td>3</td>
                                             <td>2b3c</td>
                                             <td>11</td>
                                             <td>15</td>
                                             <td>Best shit ever</td>
                                            </table>
                                </div>
                                     </div>
<!-- Shield table end -->
<!-- Ranged weapon and ammo start -->
                                <div class="row">
                                    <!-- Ranged weapon  start -->
                                <div class="col-sm-8">
                                            <table class="table table-condensed table-bordered">

                                            <tr>
                                              <th>Ranged Weapon</th>
                                              <th>Dmg.</th>
                                              <th>Weapon STR</th>
                                              <th>Base Dmg.</th>
                                              <th>Max Range</th>
                                              <th>Range penalty</th>
                                              <th>AV</th>
                                              <th>Notes</th>
                                            </tr>
                                             <td>Broadsword</td>
                                             <td>3</td>
                                             <td>11</td>
                                             <td>15</td>
                                             <td>18</td>
                                             <td>2</td>
                                             <td>8</td>
                                             <td>Best</td>
                                            </table>
                                </div>
    <!-- Ranged weapon table end -->
    <!-- Ammo start -->

                                <div class="col-sm-4">
                                <table class="table table-condensed table-bordered">

                                            <tr>
                                              <th>Ammo</th>
                                              <th>Dmg</th>
                                              <th>Weapon min STR</th>
                                              <th>Eff.</th>
                                            </tr>
                                             <td>Bolt</td>
                                             <td>3</td>
                                             <td>2</td>
                                             <td>3b1t</td>
                                            </table>
                                </div>
    <!-- Ammo table end -->

                                </div>
  </div>
</div>



            </div>

        </div>
    <!-- Combat gear end -->





<!-- Damage and Vigor div -->
<div class="row">
      <!-- Damage div -->
    <div class="col-sm-6">
        <div class="panel panel-default">
  <div class="panel-heading">Damage</div>
  <div class="panel-body">
                    <table class="table table-condensed table-bordered hidingParts">

                                            <tr>
                                              <th></th>
                                              <th>Armor</th>
                                              <th>Trauma</th>
                                              <th>Bleed</th>
                                              <th>Critical</th>
                                              <th>Total</th>
                                            </tr>
                                              <tr>
                                                 <th>Head</th>
                                                 <td>3</td>
                                                 <td>2</td>
                                                 <td>3</td>
                                                 <td>3</td>
                                                 <td>2</td>
                                              </tr>
                                              <tr>
                                                 <th>Body</th>
                                                 <td>1</td>
                                                 <td>2</td>
                                                 <td>4</td>
                                                 <td>5</td>
                                                 <td>6</td>
                                              </tr>
                                              <tr>
                                                 <th>L.Arm</th>
                                                 <td>1</td>
                                                 <td>2</td>
                                                 <td>4</td>
                                                 <td>5</td>
                                                 <td>6</td>
                                              </tr>
                                                <tr>
                                                 <th>R.Arm</th>
                                                 <td>1</td>
                                                 <td>2</td>
                                                 <td>4</td>
                                                 <td>5</td>
                                                 <td>6</td>
                                              </tr>
                                                <tr>
                                                 <th>L.Leg</th>
                                                 <td>1</td>
                                                 <td>2</td>
                                                 <td>4</td>
                                                 <td>5</td>
                                                 <td>6</td>
                                              </tr>
                                              <tr>
                                                 <th>R.Leg</th>
                                                 <td>1</td>
                                                 <td>2</td>
                                                 <td>4</td>
                                                 <td>5</td>
                                                 <td>6</td>
                                              </tr>
                        </table>


            </div>
        </div>
    </div>
      <!-- Damage div end-->
      <!-- Vigor div -->


      <div class="col-sm-6">
          <div class="panel panel-default">
  <div class="panel-heading">Vigor</div>
  <div class="panel-body">
   <table class="table table-condensed table-bordered hidingParts">
                                                <tr>
                                                <th></th>
                                                <th>1</th>
                                                <th>2</th>
                                                <th>3</th>
                                                <th>4</th>
                                                <th>5</th>
                                                <th>6</th>
                                                <th>7</th>
                                                <th>8</th>
                                                <th>9</th>
                                                <th>10</th>
                                                <th>11</th>
                                                <th>12</th>
                                                <th>13</th>
                                                </tr>
                                                <tr>
                                                    <th>0</th>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td>/</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>-1</th>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                          </tr>
                                           <tr>
                                             <th>-2</th>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                          </tr>
                                            <tr>
                                             <th>-3</th>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                          </tr>
                                           <tr>
                                             <th>-4</th>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                          </tr>
                                          <tr>
                                             <th>-5</th>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                             <td></td>
                                          </tr>
                                            </table>
                                          </div>
                                        </div>
    <!-- Vigor div end -->
    <!-- Damage and Vigor div end -->


<script src="./app/js/models/cg_scripts/cg_script.js"/>
